
<li><%=link_to 'Abrir',root_path %></li>
<li><%=link_to 'Nuevo',new_code_path %></li>
<li><a href="mobile.html">Importar</a></li>

<%unless @code.nil?%>
	<li> <a onclick "$('form').submit()">Guardar</a></li>
	<li><a href="badges.html">Guardar como...</a></li>
	<li><a href="mobile.html">Exportar</a></li>
<%end%>