
<div id= "consola" class="consola">
	<%unless @tock.nil?%>
		<%@tock.each do |c|%>
			<%="#{c[:valor]} ======> #{c[:tipo]}"%><br>
		<%end%>
	<%end%>
</div>
<%unless @tock.nil?%>
	<h4>Numero de tokens: <%=@tock.count%></h4>		
<%end%>
